# OS / IDE
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/
*.swp

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/logs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# Environment / Local Secrets
.env
.env.*
*.env
*.local
*secrets.yml
*secrets.properties
backend/src/main/resources/application-secrets.yml


# Local testing media
raw_data/
"*.zip" 
"raw_data/" 
